/*Selector {
	Property: value;
}*/

body {
	  background-image: url(grunge.jpg);
	  background-size: cover;
}

h1 {
	color: black;
	background-color: rgba(128, 21, 21, 0.6);
	border: 3px ridge black;
	text-align: center;
	cursor: default;
}

p {
	color: white;
	text-align: left;
	line-height: 30px;
	font-family: Arial;
	font-size: 120%;
}

a {
	text-align: right;
	color: pink;
}

a:hover {
	text-align: right;
	color: red;
}

img {
	float: left;
}